


<a href="/productPage/{{id}}" id="fPcontainer" class="col">
  <div class="card">
    {{! filler img }}
    <img src="{{image}}" class="card-img-top" alt="{{name}}" />
    <div class="card-body">
      <h3>{{name}}</h3>
      <p class="card-text">Filler Text, bla bla bla yellow jacket bla bla bla
        winter sports</p>
    </div>
  </div>
</a>