<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Shred'N Style</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:wght@200&family=Rajdhani:wght@300&display=swap"
			rel="stylesheet"
		/>

	</head>
	<body>
		{{! Nav Bar }}
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a
					class="navbar-brand"
					style="font-family: Dela Gothic One, sans-serif;"
					href="#"
				>Shred'N Style</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item d-flex aline-content-center">
              <svg class="align-self-center sm-me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
</svg>
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item d-flex aline-content-center">
              <svg class="align-self-center sm-me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>
							<button
								type="button"
								class="login nav-link"
								data-bs-toggle="modal"
								data-bs-target="#loginModal"
							>
								Login
							</button>
						</li>
						<li class="nav-item ms-lg-1 d-flex aline-content-center">
							
              <svg class="align-self-center sm-me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
							<a class="nav-link" href="#">Cart</a>
						</li>
						<li class="nav-item d-flex aline-content-center">
              <svg class="align-self-center " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
  <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
</svg>
							<a class="nav-link" href="#">Resort info</a>
						</li>
						<li class="nav-item d-flex aline-content-center">
              <svg class="align-self-center " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
</svg>
							<a class="nav-link" href="#">Help</a>
						</li>
						<li class="nav-item ms-lg-2 d-flex aline-content-center">
              <svg class="align-self-center " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-universal-access-circle" viewBox="0 0 16 16">
  <path d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143Zm-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"/>
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Z"/>
</svg>
							<a class="nav-link" href="#">Accessibility</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input
							class="form-control me-2"
							type="search"
							placeholder="Search"
							aria-label="Search"
						/>
						<button
							class="btn btn-outline-success"
							type="submit"
						>Search</button>
					</form>
				</div>
			</div>
		</nav>
		<main>
			{{{body}}}
				<!-- Login/Sign Up Modal -->
				<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header d-flex flex-column-reverse">
								<h5 class="modal-title" id="loginModalLabel">Login / Sign Up</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs justify-content-center mb-4" id="myTabs" role="tablist">
									<li class="nav-item" role="presentation">
										<a class="nav-link border rounded active border-secondary" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
									</li>
									<li class="nav-item" role="presentation">
										<a class="nav-link border rounded border-secondary" id="signup-tab" data-bs-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content" id="myTabContent">
									<!-- Login Tab -->
									<div class="tab-pane fade show active text-center" id="login" role="tabpanel" aria-labelledby="login-tab">
										<form class="mx-auto">
											<h3 class="mb-2">Welcome back!</h3>
											<div class="mb-3 text-start">
												<label for="loginEmail" class="form-label">Email address or Username:</label>
												<div class="input-group">
													<span class="input-group-text">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
															<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
														</svg>
													</span>
													<input type="text" class="form-control" id="loginEmail" placeholder="Enter your email or username">
												</div>
											</div>
											<div class="mb-3 text-start">
												<label for="loginPassword" class="form-label">Password:</label>
												<div class="input-group">
													<span class="input-group-text">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
														<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 5.996V14H3s-1 0-1-1 1-4 6-4c.564 0 1.077.038 1.544.107a4.524 4.524 0 0 0-.803.918A10.46 10.46 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h5ZM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z"/>
														</svg>
													</span>
													<input type="text" class="form-control" id="loginEmail" placeholder="Enter your email or username">
												</div>
											</div>
											<button type="submit" class="btn btn-primary">Login</button>
										</form>
									</div>
									
									<!-- Sign Up Tab -->
									<div class="tab-pane fade text-center" id="signup" role="tabpanel" aria-labelledby="signup-tab">
										<form class="mx-auto">
											<h3 class="mb-2">Join the club!</h3>
											<div class="mb-3 text-start">
												<label for="signupEmail" class="form-label">Email address:</label>
												<div class="input-group">
													<span class="input-group-text">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
															<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
														</svg>
													</span>
													<input type="text" class="form-control" id="loginEmail" placeholder="Enter your email or username">
												</div>
											</div>
											<div class="mb-3 text-start">
												<label for="signupUsername" class="form-label">Username:</label>
												<div class="input-group">
													<span class="input-group-text">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
														<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
														<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
														</svg>
													</span>
													<input type="text" class="form-control" id="loginEmail" placeholder="Enter your email or username">
												</div>
											</div>
											<div class="mb-3 text-start">
												<label for="signupPassword" class="form-label">Password:</label>
												<div class="input-group">
													<span class="input-group-text">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
														<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 5.996V14H3s-1 0-1-1 1-4 6-4c.564 0 1.077.038 1.544.107a4.524 4.524 0 0 0-.803.918A10.46 10.46 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h5ZM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z"/>
														</svg>
													</span>
													<input type="text" class="form-control" id="loginEmail" placeholder="Enter your email or username">
												</div>
											</div>
											<button type="submit" class="btn btn-success">Sign Up</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script src="./js/login.js"></script>
			</div>
		</main>
    <footer class="d-flex justify-content-center justify-content-around ">
      <div class="row row-cols-1 row-cols-lg-3">
        <div style="width: 200px;" class="col mt-3">
          <img id="logo" src="./assets/ShrednKens.png" />
        </div>
        <div class="col my-5 foot" id="about">
          <h3 >
            Shred'N Style
          </h3 >
          <h4>About</h4>
          <p>"Shred'N Styles is your winter sports destination, carefully
            crafted by the Shred'N Kens – a passionate team of five winter
            enthusiasts. Explore our handpicked selection of top-tier gear and
            fashionable apparel, designed to elevate your winter adventure. Get
            ready to shred the slopes in style with Shred'N Styles.".</p>
        </div>
        <div class="col my-5 foot" style="width: 200px;">
          <h4>Contact</h4>
          <p>555-525-5565</p>
          <p>shrednstyle@sherdNken.com</p>
          <p>1234 N Ogden ave</p>
          <p>Denver Colorado, 80031</p>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>