<h1 class="mt-5" style="text-align: center">Oops, Looks like you got lost on the mountain!</h1>
<br />
<h2 style="text-align: center">Click here to have ski patrol take you back!</h2>
<br />
<p style="text-align: center"><a href="./">Help before I freeze!</a></p>
<br />
<img
  src="https://media.istockphoto.com/id/640117616/vector/man-with-map-and-backpack-lost-in-the-mountains.jpg?s=170667a&w=0&k=20&c=b2aYX0bGgXiRxRW8ZA7q8tTFzUfBPVEPxq28ldKkXjM="
  width="225"
  height="225"
  style="display: block; margin: 0 auto; border-radius: 50%;"
  alt="A man that is lost with a backpack and a map in the mountains"
/>