<div class="bg-image position-relative">
  <img
    src="https://vastphotos.com/files/uploads/photos/11070/high-resolution-alpine-panorama-l.jpg?v=20220712073521"
    class="productIMG"
    alt=""
  />
  <div
    class="mask text-light position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
  >
    <h4 class="text-center">Category Name</h4>
  </div>
</div>
{{! cards  }}
<div class="container-fluid">
  <div class="row row-cols-1 row-col-md-2 row-cols-lg-3 g-2 g-lg-4">
    {{#each products as |product|}}
        {{> productList}}
        {{/each}}
  </div>
  </div>
{{! img  }}
<div class="bg-image position-relative">
  <img
    src="https://vastphotos.com/files/uploads/photos/10204/cascade-mountains-panorama-landscape-l.jpg?v=20220712073521"
    class="productIMG"
    alt=""
  />
  <div
    class="mask text-light position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
  >
    <h4 class="text-center">Category Name</h4>
  </div>
</div>
{{! cards  }}
<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="proCard text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
  </div>
</div>
{{! IMG  }}
<div class="bg-image position-relative">
  <img
    src="https://vastphotos.com/files/uploads/photos/10152/black-white-mountain-landscape-l.jpg?v=20220712073521"
    class="productIMG"
    alt=""
  />
  <div
    class="mask text-light position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
  >
    <h4 class="text-center">Category Name</h4>
  </div>
</div>
{{! Cards  }}
<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="proCard text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div class="proCard card text-center col-3" style="width: 18rem;">
      <img
        class="img-fluid"
        src="{{product.image}}"
        class="card-img-top"
        alt="..."
      />
      <div class="">
        <h5 class="card-title name" data-title="{{product.name}}">Product</h5>
        <h6 class="card-title price" data-price="{{product.price}}">Price</h6>
        <button class="cartbtn" data-prodid="{{product.id}}">Add to cart</button>
      </div>
    </div>

  </div>
</div>

<script src="/js/product.js"></script>