<main>
  <div class="container mt-5">
    <h1 class="m-4">Your Cart</h1>
    <div class="cart-items d-flex flex-column align-items-center" id="cart-items">
      {{#each productsInCart as |product|}}
        {{> cartItems}}
        {{/each}}
    </div>
    <div class="text-center d-flex flex-column align-items-center">
      <div class="row cartTotal">
      <h3 class="col">Total</h3>
      <h3 class="col">${{totalCartPrice}}</h3>
      </div>
      <button class="btn btn-primary">Proceed to Checkout</button>
    </div>
  </div>
</main>