<div>
	<div class=" bg-image position-relative">
		<img
			style="width: 100%; height: 12rem;"
			src="https://vastphotos.com/files/uploads/photos/11406/mont-blanc-sunrise-panorama-l.jpg?v=20230421081810"
			class="passImg"
			alt=""
		/>
		<div
			class="mask text-light position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
			style="background-color: rgba(0, 0, 0, 0.5)"
		>
			<h2 class="text-center">Mountain Passes</h2>
		</div>
	</div>

	<div class="container-fluid pass-container m-2 mt-4">
		<div class="row d-flex justify-content-center">
			{{!-- Ikon Pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc_15Of8G1ccr3yF7yExwVEnY8f_7fGNQJAw&usqp=CAU"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Ikon Pass</h4>
					<p class="card-text text-center">$1,259</p>
					<ul>
						<li>58 unique destinations worldwide</li>
						<li>No blackout dates at any resort</li>
						<li>16 unlimited skiing and riding destinations</li>
						<li>Up to 7 days at 41 destinations</li>
					</ul>
					<div class="row justify-content-between">
						<button
						type="button"
						class="btn btn-primary col-5"
						data-bs-toggle="modal"
						data-bs-target="#IconModal"
						>
						More info
						</button>
						<a
						type="button"
						href="/productPage/25"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>
			
			{{!-- Ikon base pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc_15Of8G1ccr3yF7yExwVEnY8f_7fGNQJAw&usqp=CAU"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Ikon Base Pass</h4>
					<p class="card-text text-center">$929</p>
					<ul>
						<li>Unlimited Access to 14 destinations</li>
						<li>Limited blackout dates at selects resorts</li>
						<li>Up to 5 days each at select resorts</li>
						<li>Some lift reservations required</li>
					</ul>
					<div class="row justify-content-between">
						<button
							type="button"
							class="btn btn-primary col-5"
							data-bs-toggle="modal"
							data-bs-target="#IconBaseModal"
						>
							More info
						</button>
						<a
						type="button"
						href="/productPage/26"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>

			{{!-- Ikon 4-day pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc_15Of8G1ccr3yF7yExwVEnY8f_7fGNQJAw&usqp=CAU"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Ikon 4-Day Pass</h4>
					<p class="card-text text-center">$469</p>
					<ul>
						<li>Up to 4 days of fun skiing or snowboarding</li>
						<li>Blackout dates apply to resorts</li>
						<li>Covers 41 unique destinations</li>
						<li>Some lift reservations required</li>
					</ul>
					<div class="row justify-content-between">
						<button
							type="button"
							class="btn btn-primary col-5"
							data-bs-toggle="modal"
							data-bs-target="#Ikon4DayModal"
						>
							More info
						</button>
							<a
						type="button"
						href="/productPage/27"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid pass-container m-2 mt-4">
		<div class="row d-flex justify-content-center">
			{{!-- Epic Pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkOkKLmsUvljnnFLdEPE0Jw2Bakajr3mR8vQ&usqp=CAU"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Epic Pass</h4>
					<p class="card-text text-center">$949</p>
					<ul>
						<li>Unlimited access to 41 resorts</li>
						<li>Limited access to international resorts</li>
						<li>Includes Epic Mountain Rewards</li>
						<li>Pass protection with Epic coverage</li>
					</ul>
					<div class="row justify-content-between">
						<button
							type="button"
							class="btn btn-primary col-5"
							data-bs-toggle="modal"
							data-bs-target="#epicModal"
						>
							More info
						</button>
						<a
						type="button"
						href="/productPage/28"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>

			{{!-- Epic Local Pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkOkKLmsUvljnnFLdEPE0Jw2Bakajr3mR8vQ&usqp=CAU"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Epic Local Pass</h4>
					<p class="card-text text-center">$705</p>
					<ul>
						<li>Limited access to 29 unique resorts</li>
						<li>No reservations required for any resort</li>
						<li>Includes Epic Mountain Rewards</li>
						<li>Pass protection with Epic coverage</li>
					</ul>
					<div class="row justify-content-between">
						<button
							type="button"
							class="btn btn-primary col-5"
							data-bs-toggle="modal"
							data-bs-target="#epicLocalModal"
						>
							More info
						</button>
						<a
						type="button"
						href="/productPage/29"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>

			{{!-- Epic 4-day Pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkOkKLmsUvljnnFLdEPE0Jw2Bakajr3mR8vQ&usqp=CAU"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Epic 4-Day Pass</h4>
					<p class="card-text text-center">$391</p>
					<ul>
						<li>Up to 4 days at 38 unique resorts</li>
						<li>No reservations required at any resort</li>
						<li>Includes Epic Mountain Rewards</li>
						<li>Does not include pass protection</li>
					</ul>
					<div class="row justify-content-between">
						<button
							type="button"
							class="btn btn-primary col-5"
							data-bs-toggle="modal"
							data-bs-target="#epic4DayModal"
						>
							More info
						</button>
						<a
						type="button"
						href="/productPage/30"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>

			{{!-- ken pass --}}
			<div class="card pass-card col-6 m-2" style="width:300px">
				<img
					class="card-img-top mt-3"
					style="width: 100%; height: 9rem;"
					src="https://www.felizmodern.com/cdn/shop/files/ken_800x.jpg?v=1683577016"
					alt="Card image"
				/>
				<div class="card-body">
					<h4 class="card-title text-center">Ken Pass</h4>
					<p class="card-text text-center">$5000</p>
					<ul>
						<li>Ski or snowboard literally anywhere</li>
						<li>Allows you to legally trespass on private property</li>
						<li>Enables your third eye and dimensional travel</li>
						<li>Does not include barbie, it would be kinda weird</li>
					</ul>
					<div class="row justify-content-between">
						<button
							type="button"
							class="btn btn-primary col-5"
							data-bs-toggle="modal"
							data-bs-target="#KenModal"
						>
							More info
						</button>
							<a
						type="button"
						href="/productPage/31"
						class="btn btn-primary col-5"
						>
						Buy now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	{{!-- Icon pass modal --}}
	<div class="modal fade" id="IconModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">UNLIMITED ACCESS TO 16 RESORTS!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="row">
					<ul class="col-6 text-center">
						<li>-Steamboat, CO</li>
						<li>-Copper Mountain Resort, CO</li>
						<li->Winter Park, CO</li>
						<li>-Eldora Mountain Resort, CO</li>
						<li>-Palisades Tahoe, CA</li>
						<li>-Mammoth Mountain, CA</li>
						<li>-June Mountain, CA</li>
						<li>-Big Bear Mountain Resort, CA</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Snow Valley, CA</li>
						<li>-Sugarbush Resort, VT</li>
						<li>-Stratton, VT</li>
						<li>-Schweitzer, ID</li>
						<li>-Blue Mountain, ON</li>
						<li>-Snowshoe, WV</li>
						<li>-Tremblant, QC</li>
						<li>-Solitude Mountain Resort, UT</li>
					</ul>
				</div>
			</div>

			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">UP TO 7 DAYS EACH AT SELECTED LOCATIONS!</h4>
				</div>
				<h5 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
					<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
					</svg> Reservations required</h5>
				<div class="row">
					<ul class="col-6 text-center">
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Aspen Snowmass, CO</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Jackson Hole Mountain Resort, WY</li>
						<li>-Sun Valley, ID</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Windham Mountain, NY</li>
						<li>-Crystal Mountain, WA</li>
						<li>-MT. Bachelor, OR</li>
						<li>-Revelstoke Mountain Resort, BC</li>
						<li>-Red Mountain, BC</li>
						<li>-Sun Peaks Resort, BC</li>
						<li>-Sugarloaf, ME</li>
						<li>-Taos Ski Valley, NM</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Brighton, UT</li>
						<li>-Snowbird, UT</li>
						<li>-Camelback Resort, PA</li>
						<li>-Chamonix Mont-blanc Valley, France</li>
						<li>-Grandvalira Resorts, Andorra </li>
						<li>-Zermatt Matterhorn, Switzerland</li>
						<li>-Mt. Buller, Australia</li>
						<li>-Niseko United, Japan</li>
						<li>-Valle Nevado, Chile</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Arapahoe Basin, CO</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Big Sky Resort, MT</li>
						<li>-Killington-Pico, VT</li>
						<li>-The Highlands, MI</li>
						<li>-Alyeska Resort, AK</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -The Summit at Snoqualmie, WA </li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -SkiBig3, WA</li>
						<li>-Cypress Mountain, BC</li>
						<li>-Panorama, BC</li>
						<li>-Sunday River, ME</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Loon Mountain, NH</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Deer Valley Resort, UT</li>
						<li>Alta Ski Area, UT</li>
						<li>-Snowbasin, UT</li>
						<li>-Blue Mountain Resort, PA</li>
						<li>-Dolomiti Superski, Italy</li>
						<li>-Kitzbuhel, Austria</li>
						<li>-Thredbo, Austria</li>
						<li>-Coronet Peak, New Zealand</li>
						<li>-Lotte Arai Resort, Japan</li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	{{!-- Epic modal --}}
	<div class="modal fade" id="EpicModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">UNLIMITED ACCESS TO 41 DESTINATIONS!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="row">
					<ul style="list-style: none; color: #d2b02a;" class="p-0 text-center">
						<li>Blackout Dates:</li>
						<li>Nov 23-24, 2023</li>
						<li>Dec 26-32, 2023</li>
						<li>Jan 13, 2023</li>
						<li>Feb 17-18, 2023</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Vail, CO</li>
						<li>-Beaver Creek, CO</li>
						<li>-Breckenridge, CO</li>
						<li>-Keystone, CO</li>
						<li>-Crested Butte, CO</li>
						<li>-Park City, UT</li>
						<li>-Heavenly, CA/NV</li>
						<li>-Northstar, CA</li>
						<li>-Stevens Pass, WA</li>
						<li>-Whistler Blackcomb, BC</li>
						<li>-Stowe, VT</li>
						<li>-Okemo, VT</li>
						<li>-Mount Snow, VT</li>
						<li>-Mount Sunapee, NH</li>
						<li>-Attitash Mountain Resort, NH</li>
						<li>-Wildcat Mountain, NH</li>
						<li>-Crotched Mountain, NH</li>
						<li>-Hunter Mountain, NY</li>
						<li>-Liberty Mountain Resort, PA</li>
						<li>-Roundtop Mountain Resort, PA</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Whitetail Resort, PA</li>
						<li>-Jack Frost, PA</li>
						<li>-Big Boulder, PA</li>
						<li>-Seven Springs, PA</li>
						<li>-Laurel Mountain, PA</li>
						<li>-Hidden Valley, PA</li>
						<li>-Afton Alps, MN</li>
						<li>-Mt Brighton, MI</li>
						<li>-Wilmot, WI</li>
						<li>-Alpine Valley, OH</li>
						<li>-Boston Mills, OH</li>
						<li>-Brandywine, OH</li>
						<li>-Mad River Mountain, OH</li>
						<li>-Hidden Valley, MO</li>
						<li>-Snow Creek, MO</li>
						<li>-Paoli Peaks, IN</li>
						<li>-Andermatt-Sedrun-Disentis, Switzerland</li>
						<li>-Perisher, Australia</li>
						<li>-Falls Creek, Australia</li>
						<li>-Hothham, Australia</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{!-- Ikon 4-day modal --}}
	<div class="modal fade" id="Ikon4DayModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">Up to 4 days at 41 destination!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
					<h5 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
					<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
					</svg> Reservations required</h5>
					<ul style="list-style: none; color: #d2b02a;" class="p-0 text-center">
						<li>Blackout Dates:</li>
						<li>Dec 26 - 31, 2023</li>
						<li>Jan 13 – 14, 2024</li>
						<li>Feb 17 – 18, 2024</li>
					</ul>
				<div class="row">
					<ul class="col-6 text-center">
						<li>-Steamboat, CO</li>
						<li>-Copper Mountain Resort, CO</li>
						<li->Winter Park, CO</li>
						<li>-Arapahoe Basin, CO</li>
						<li>-Eldora Mountain Resort, CO</li>
						<li>-Palisades Tahoe, CA</li>
						<li>-Mammoth Mountain, CA</li>
						<li>-June Mountain, CA</li>
						<li>-Big Bear Mountain Resort, CA</li>
						<li>-Snow Valley, CA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Big Sky Resort, MT</li>
						<li>-Stratton, VT</li>
						<li>-Sugarbush Resort, VT</li>
						<li>-Killington-pico, VT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Windham Mountain, NY/li>
						<li>-Snowshoe, WV</li>
						<li>-The Highlands, MI</li>
						<li>-Boyne Mountain, MI</li>
						<li>-Alyeska Resort, AK</li>
						<li>-Crystal Mountain, WA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -The Summit at Snoqualmie, WA</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Mt. Bachelor, OR</li>
						<li>-Schweitzer, ID</li>
						<li>-Tremblant, QC</li>
						<li>-Blue Mountain, ON</li>
						<li>-SKIBIG3, AB</li>
						<li>-Revelstoke Mountain Resort, BC</li>
						<li>-Cypress Mountain, BC</li>
						<li>-Red Mountain, BC</li>
						<li>-Panorama, BC</li>
						<li>-Sun Peaks Resorts, BC</li>
						<li>-Sunday River, ME</li>
						<li>-Sugarloaf, ME</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Loon Mountain, NH</li>
						<li>-Solitude Mountain Resort, UT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> -Brighton, UT</li>
						<li>-Camelback Resort, PA</li>
						<li>-Blue Mountain Resort, PA</li>
						<li>-Mt. Buller, Australia</li>
						<li>-Coronet Peak, New Zealand</li>
						<li>-Niseko United, Japan</li>
						<li>-Valle Nevado, CHile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{!-- Ikon base pass modal --}}
	<div class="modal fade" id="IconBaseModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">UNLIMITED ACCESS TO 14 RESORTS!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
					<h5 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
					<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
					<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
					</svg> Blackout Dates Apply</h5>
					<ul style="list-style: none; color: #d2b02a;" class="p-0 text-center">
						<li>Blackout Dates:</li>
						<li>Dec 26 - 31, 2023</li>
						<li>Jan 13 – 14, 2024</li>
						<li>Feb 17 – 18, 2024</li>
					</ul>
				<div class="row">
					<ul class="col-6 text-center">
						<li>-Copper Mountain Resort, CO</li>
						<li->Winter Park, CO</li>
						<li>-Eldora Mountain Resort, CO</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Palisades Tahoe, CA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Mammoth Mountain, CA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -June Mountain, CA</li>
						<li>-Big Bear Mountain Resort, CA</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Snow Valley, CA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Stratton, VT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Sugarbush Resort, VT</li>
						<li>-Snowshow, WV</li>
						<li>-Tremblant, QC</li>
						<li>-Blue Mountain, ON</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Solitude Mountain Resort, UT</li>
					</ul>
				</div>
			</div>

			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">Up to 5 days at select locations!</h4>
				</div>
					<h5 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
					<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
					</svg> Reservations required</h5>
					<h5 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
					<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
					<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
					</svg> Blackout Dates Apply</h5>
					<ul style="list-style: none; color: #d2b02a;" class="p-0 text-center">
						<li>Blackout Dates:</li>
						<li>Dec 26 - 31, 2023</li>
						<li>Jan 13 – 14, 2024</li>
						<li>Feb 17 – 18, 2024</li>
					</ul>
				<div class="row">
					<ul class="col-6 text-center">
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Steamboat, CO</li>
						<li>-Arapahoe Basin, CO</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Big Sky Resort, MT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Killington-Pico, VT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Windham Mountain, NY</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -The Highlands, MI</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Boyne Mountain, MI</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Aleyeska Resort, AK</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Crystal Mountain, WA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -The Summit at Snoqualmie, WA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Mt. Bachelor, OR</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Schweitzer, ID</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -SKIBIG3, AB</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Revelstoke Mountain Resort, BC</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Cypress Mountain, BC</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Red Mountain, BC</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Panorama, BC</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Sun Peaks Resort, BC</li>
					</ul>
					<ul class="col-6 text-center">
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Sunday River, ME,</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Sugarloaf, ME</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Loon Mountain, NH</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Brighton, UT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Snowbird, UT</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Camelback Resort, PA</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Blue Mountain Resort, PA</li>
						<li>-Chamonix Mont-blanc, France</li>
						<li>-Dolomiti Superski, Italy</li>
						<li>-Grandvalira Resorts, Andorra</li>
						<li>-Kitzbuhel, Austria</li>
						<li>-Zermatt Matterhorn, Switzerland</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Thredbo, Australia</li>
						<li>-Mt Buller, Australia</li>
						<li>-Coronet Peak, New Zealand</li>
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap" viewBox="0 0 16 16">
							<path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377H6.375z"/>
							<path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3H4z"/>
							</svg> -Niseko United, Japan</li>
						<li>-Lotte Arai Resort, Japan</li>
						<li>-Valle Nevado, Chile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{!-- Epic local Pass Modal --}}
	<div class="modal fade" id="epicLocalModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">UNLIMITED ACCESS TO 29 DESTINATIONS!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="row">
					<ul style="list-style: none; color: #d2b02a;" class="p-0 text-center">
						<li>Blackout Dates:</li>
						<li>Nov 23-24, 2023</li>
						<li>Dec 26-32, 2023</li>
						<li>Jan 13, 2023</li>
						<li>Feb 17-18, 2023</li>
					</ul>
					<ul class="col-6 text-center">
						<li->Breckenridge, CO</li>
						<li>-Keystone, CO</li>
						<li>-Crested Butte, CO</li>
						<li>-Stevens Pass, WA</li>
						<li>-Mount Snow, VT</li>
						<li>-Mount Sunapee, NH</li>
						<li>-Attitash Mountain Resort, NH</li>
						<li>-Wildcat Mountain, NH</li>
						<li>-Crotched Mountain, NH</li>
						<li>-Hunter Mountain, NY</li>
						<li>-Liberty Mountain Resort, PA</li>
						<li>-Roundtop Mountain Resort, PA</li>
						<li>-Whitetail Resort, PA</li>
						<li>-Jack Frost, PA</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Big Boulder, PA</li>
						<li>-Seven Springs, PA</li>
						<li>-Laurel Mountain, PA</li>
						<li>-Hidden Valley, PA</li>
						<li>-Afton Alps, MN</li>
						<li>-Mt Brighton, MI</li>
						<li>-Wilmot, WI</li>
						<li>-Alpine Valley, OH</li>
						<li>-Boston Mills, OH</li>
						<li>-Brandywine, OH</li>
						<li>-Mad River Mountain, OH</li>
						<li>-Hidden Valley, MO</li>
						<li>-Snow Creek, MO</li>
						<li>-Paoli Peaks, IN</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{!-- Epic 4 day modal --}}
	<div class="modal fade" id="epic4DayModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pass-modal">
				<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">Up to 4 days at 38 destinations!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="row">
					<ul style="list-style: none; color: #d2b02a;" class="p-0 text-center">
						<li>Blackout Dates:</li>
						<li>Nov 23-24, 2023</li>
						<li>Dec 26-32, 2023</li>
						<li>Jan 13, 2023</li>
						<li>Feb 17-18, 2023</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Vail, CO</li>
						<li>-Beaver Creek, CO</li>
						<li>-Breckenridge, CO</li>
						<li>-Keystone, CO</li>
						<li>-Crested Butte, CO</li>
						<li>-Telluride, CO</li>
						<li>-Park City, UT</li>
						<li>-Heavenly, CA/NV</li>
						<li>-Northstar, CA</li>
						<li>-Kirkwood, CA</li>
						<li>-Stevens Pass, WA</li>
						<li>-Stowe, VT</li>
						<li>-Okemo, VT</li>
						<li>-Mount Sunapee, NH</li>
						<li>-Mount Snow, VT</li>
						<li>-Attitash Mountain Resort, NH</li>
						<li>-Wildcat Mountains, NH</li>
						<li>-Crotched Mountains, NH</li>
						<li>-Hunter Mountain, NY</li>
					</ul>
					<ul class="col-6 text-center">
						<li>-Liberty Mountain Resort, PA</li>
						<li>-Roundtop Mountain Resort, PA</li>
						<li>-Whitetail Resort, PA</li>
						<li>-Jack Frost, PA</li>
						<li>-Big Boulder, PA</li>
						<li>-Seven Springs, PA</li>
						<li>-Laurel Mountains, PA</li>
						<li>-Hidden Valley, PA</li>
						<li>-Afton Alps, MN</li>
						<li>-Mt Brighton, MI</li>
						<li>-Wilmot, WI</li>
						<li>-Apline Valley, WI</li>
						<li>-Boston Mills, OH</li>
						<li>-Brandywine, OH</li>
						<li>-Mad River Mountain, OH</li>
						<li>-Hidden Valley, MO</li>
						<li>-Snow Creek, MO</li>
						<li>-Paoli Peaks, IN</li>
						<li>-Whistler Blackcomb, BC</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{!-- Ken pass modal --}}
		<div class="modal fade" id="KenModal" tabindex="-1" aria-labelledby="IconModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content pass-modal">
					<div class="modal-header d-flex flex-column-reverse">
					<h4 class="modal-title text-center" id="IconModalLabel">Buy this now!</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
					<div class="d-flex flex-column justify-content-center align-items-center">
						<img src="https://wwd.com/wp-content/uploads/2023/07/rev-1-BAR-TT3-0104_High_Res_JPEG-1.jpeg?w=1000&h=563&crop=1" alt="Pic of Ken"
						style="width: 50%; height:auto;" class="m-2">
						<h3>What more do you need??</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <script src="/js/passes.js"></script> --}}
</div>