<div class="container-fluid">
  <div class="row justify-content-center">
    <div
      id="product-card"
      class="m-2 card text-center col-4 border-primary border-4 rounded"
      style="width: 18rem;"
    >
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Pass!</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div
      id="product-card"
      class="m-2 card text-center col-4 border-primary border-4 rounded"
      style="width: 18rem;"
    >
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Pass!</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
    <div
      id="product-card"
      class="m-2 card text-center col-4 border-primary border-4 rounded"
      style="width: 18rem;"
    >
      <img
        class="img-fluid"
        src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Pass!</h5>
        <h6 class="card-title">Price</h6>
        <p class="card-text">Product Description</p>
      </div>
    </div>
  </div>
</div>