<div class="bg-image">
	<img
		style="height: 40%, width:auto"
		src="https://images.unsplash.com/photo-1625154869776-100eba31abbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c25vd2JvYXJkaW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
		class="w-100"
		alt="Louvre Museum"
	/>
	</div>
</div>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="m-2 card text-center col-4 border-primary border-4 rounded product-card" style="width: 18rem;">
			<img class="img-fluid" src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk=" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Product</h5>
				<h6 class="card-title">Price</h6>
				<p class="card-text">Product Description</p>
			</div>
		</div>
		<div class="m-2 card text-center col-4 border-primary border-4 rounded product-card" style="width: 18rem;">
			<img class="img-fluid" src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk=" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Product</h5>
				<h6 class="card-title">Price</h6>
				<p class="card-text">Product Description</p>
			</div>
		</div>
		<div class="m-2 card text-center col-4 border-primary border-4 rounded product-card" style="width: 18rem;">
			<img class="img-fluid" src="https://media.istockphoto.com/id/159175821/photo/snowboard-equipment.jpg?s=612x612&w=0&k=20&c=Yz_T3QZuRQNF0AqDZTZtul0rHTX9Bonuec99OnHULUk=" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Product</h5>
				<h6 class="card-title">Price</h6>
				<p class="card-text">Product Description</p>
			</div>
		</div>
	</div>
</div>
