<div class="bg-image position-relative">
  <img
    src="https://vastphotos.com/files/uploads/photos/11070/high-resolution-alpine-panorama-l.jpg?v=20220712073521"
    class="productIMG"
    alt=""
  />
  <div
    class="mask text-light position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
  >
    <h4 class="text-center">{{this.name}}</h4>
  </div>
</div>
{{! cards  }}
<div class="container-fluid">
  <div class="row row-cols-1 row-col-md-2 row-cols-lg-3 g-2 g-lg-4">
    {{#each products as |product|}}
        {{> skiscard}}
        {{/each}}
  </div>
  </div>

<script src="/js/product.js"></script>