:root {
	--prussianBlue: #19304f;
	--lapis: #27689e;
	--gold: #d2b02a;
	--airSuperiority: #66a0c5;
	--columbia: #d3e5f3;
	--lightColumbia: #72a0c1;
	--cyan: #89cff0;
	--light: #e0ffff;
	--lightGold: #ffef00;
}

h1 {
	font-family: "Dela Gothic One", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
a {
	font-family: "Kanit", sans-serif;
}

p {
	font-family: "Rajdhani", sans-serif;
}

.product-card {
	border-color: var(--light) !important;
}

.product-card:hover {
	border-color: var(--lapis) !important;
}

.modal-header {
	background-color: var(--airSuperiority);
	color: var(--light);
}

.modal h5 {
	font-size: 2rem;
}

.modal-body {
	background-color: var(--prussianBlue);
	color: var(--light);
}

.tab-content button {
	background-color: var(--gold);
	color: black;
}

.tab-content button:hover {
	background-color: var(--lightGold);
}

.modal a {
	text-decoration: none;
	border: none;
	color: black;
	background-color: var(--gold);
}

.modal a:hover {
	background-color: var(--lightGold);
}

.modal .nav-tabs .nav-link.active {
	background-color: var(--lapis);
	color: var(--columbia);
}

.modal .nav-tabs {
	border: none;
	text-decoration: none;
}

.modal .nav-item {
	margin-left: 1rem;
	margin-right: 1rem;
}
